<div class="block bcg-black"></div>
<div class="block">
  <div class="container">
    <img src="" alt="random user" class="user-img" />
    <p class="user-title"></p>
    <p class="user-value"></p>
    <div class="values-list">
      <!-- name icon -->
      <button class="icon icon-name">
        <span class="far fa-user" data-label="name"></span>
      </button>
      <!-- email icon -->
      <button class="icon">
        <span class="far fa-envelope-open" data-label="email"></span>
      </button>
      <!-- age icon -->
      <button class="icon">
        <span class="far fa-calendar-times" data-label="age"></span>
      </button>
      <!-- street icon -->
      <button class="icon">
        <span class="far fa-map" data-label="street"></span>
      </button>
      <!-- phone icon -->
      <button class="icon">
        <span class="fas fa-phone" data-label="phone"></span>
      </button>
      <!-- password icon -->
      <button class="icon">
        <span class="fas fa-user-lock" data-label="password"></span>
      </button>
    </div>
    <button class="btn" type="button">random user</button>
  </div>
</div>
