body{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

section{
    width: 300px;
    height: 500px;
    border: 1px grey solid;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.tarea{
    text-align: center;
    border: 1px grey solid;
    width: 80%;
}

.pendiente{
    background-color: cadetblue;
}
.en_espera{
    background-color: rgb(99, 95, 160);
}
.en_curso{
    background-color: rgb(129, 95, 160);
}
.terminados{
    background-color: rgb(95, 160, 117);
}