<div class="article-details">

    <div class="article-image" style="background-image: url({{urlImagen}});"></div>

    <div class="article-title">
        <h2>{{nombre}}</h2>
    </div>

    <p class="article-description">
        {{descripcion}}
    </p>

    <button class="btn btn-success" id="add-to-cart" data-id="{{id}}">Agregar al carrito</button>

</div>