<div class="index-page">
    
    <form id="search-form">
        <div>
            <span>Nombre</span>
            <input type="search" id="search-box" class="form-control">
        </div>
        <div>
            Ordenar por
            <select name="orderBy" id="orderBy" class="form-control">
                <option value="nada">-</option>
                <option value="mayorPrecio">Mayor precio</option>
                <option value="menorPrecio">Menor precio</option>
            </select>
        </div>

        <button class="btn">Buscar</button>
    </form>

    <div class="article-list">

        {{#each articulos}}
        <div class="article" data-id="{{this.id}}">
            <div class="image" style="background-image: url({{this.urlImagen}});"></div>
            <div class="content">
                <div class="article-title">{{this.nombre}}</div>
                <div class="article-price">
                    <span class="article-price-currency">$</span>
                    <span class="article-price-value">{{this.precio}}</span>
                </div>
            </div>
        </div>
        {{/each}}

    </div>

</div>